**/**/.nrepl-port
**/.DS_Store
**/.clj-kondo/.cache
**/.cpcache/
# Private credentials
**/.clever.json
**/tmp

#intellij
.idea/
**.iml
**/**.iml

node-modules
.shadow-cljs

docs/wiki/
docs/codox/
target
