{:deps {com.github.hephaistox/auto-build {:git/sha "cdf568f559c10f0263ba564f7cda1d98e706553c"}}
 :paths []
 :tasks
 {:requires [[auto-build.os.exit-codes] [auto-build.os.exiting :refer [exit]]]
  bp {:doc "To fail fast before git pushing a version"
      :requires [[auto-build.echo :refer [level1-header]] [auto-build.tasks.deps :as td]]
      :task (binding [exit (fn [exit-code & _] (when-not (zero? exit-code) exit-code))]
              (-> (or (run 'format)
                      (run 'lint)
                      (td/task level1-header ".")
                      (binding [*command-line-args* (conj *command-line-args* "all")]
                        (run 'clj-test))
                      (binding [*command-line-args* (conj *command-line-args* "all")]
                        (run 'cljs-node-test))
                      auto-build.os.exit-codes/ok)
                  System/exit))}
  clean {:doc "Clean temporary files"
         :requires [[auto-build.tasks.clean :as task-clean]
                    [auto-build.echo :refer [level1-header]]]
         :task (-> (task-clean/clean
                    level1-header
                    "."
                    [".DS_Store"]
                    [".cpcache" ".shadow-cljs" "target" "node_modules" ".clj-kondo/.cache"]
                    (current-task))
                   exit)}
  clj-test
  {:doc "Test with clj"
   :requires [[auto-build.tasks.clj-test :as build-clj-test]
              [auto-build.echo :refer [level1-header]]]
   :task (->
           (build-clj-test/clj-test level1-header "." "clj-test-runner" (current-task) ["clj-test"])
           exit)}
  cljs-browser-test
  {:doc "Test with cljs in browser"
   :requires [[auto-build.tasks.cljs-browser-test :as build-cljs-browser]
              [auto-build.echo :refer [level1-header]]]
   :task
   (-> (build-cljs-browser/cljs-browser-test level1-header "." (current-task) ["cljs-browser-test"])
       exit)}
  cljs-node-test
  {:doc "Test with cljs"
   :requires [[auto-build.tasks.cljs-node-test :as build-cljs-node-test]
              [auto-build.echo :refer [level1-header]]]
   :task (->
           (build-cljs-node-test/cljs-node-test level1-header "." (current-task) ["cljs-node-test"])
           exit)}
  copy {:doc "Copy files from source projects (as defined in ext_src.edn)"
        :requires [[auto-build.tasks.copy :as tc] [auto-build.echo :refer [level1-header]]]
        :task (tc/run level1-header "ext_src.edn")}
  deploy {:doc "Deploy"
          :requires [[auto-build.tasks.deploy :as task-deploy]
                     [auto-build.echo :refer [level1-header]]]
          :task (-> (task-deploy/deploy level1-header "." "main" (current-task))
                    exit)}
  deps {:doc "Update deps clojure(script) and npm"
        :task (do (shell "clj -M:antq") (shell "npm upgrade"))}
  docs {:doc "Docs"
        :requires [[auto-build.tasks.docs :as build-docs] [auto-build.echo :refer [level1-header]]]
        :task (-> (build-docs/docs level1-header "." (current-task) "gh-pages" :codox)
                  exit)}
  format {:doc "Format source code"
          :requires [[auto-build.tasks.formatting :as task-format]
                     [auto-build.echo :refer [level1-header]]]
          :task (-> (task-format/format level1-header "." (current-task))
                    exit)}
  gha {:doc "To be run by github action"
       :task (do (shell "bb clj-test -v") (shell "bb cljs-node-test all -v"))}
  heph-info {:doc "Hephaistox project info"
             :extra-paths []
             :requires [[auto-build.tasks.heph-info :as heph-info]
                        [auto-build.echo :refer [level1-header]]]
             :task (-> (heph-info/heph-info level1-header (current-task) ".")
                       exit)}
  lint {:doc "Lint source code"
        :requires [[auto-build.tasks.lint :as task-lint] [auto-build.echo :refer [level1-header]]]
        :task (-> (task-lint/lint level1-header
                                  ["auto_web_clj/src"
                                   "auto_web_cljs/src"
                                   "auto_web_cljc/src"
                                   "auto_web_clj/test"
                                   "auto_web_cljc/test"]
                                  "."
                                  (current-task))
                  exit)}
  repl {:doc "Clojure repl based on cider"
        :override-builtin true
        :requires [[auto-build.tasks.repl :as build-repl] [auto-build.echo :refer [level1-header]]]
        :task (-> (build-repl/repl level1-header "." (current-task) [:clj-test] 7006)
                  exit)}}}
