{:aliases
 {:antq {:deps {com.github.liquidz/antq {:mvn/version "2.11.1276"}
                org.slf4j/slf4j-nop {:mvn/version "2.0.17"}}
         :main-opts ["-m" "antq.core"]}
  :clj-test
  {:main-opts
   ["-m" "cognitect.test-runner" "-r" ".*-test.*" "-d" "auto_web_clj/test" "auto_web_cljc/test"]}
  :clj-test-runner {:exec-fn cognitect.test-runner.api/test
                    :extra-deps {com.cognitect/test-runner
                                 {:git/url "https://github.com/cognitect-labs/test-runner"
                                  :sha "3f288f1f16d167723ad87cc35b1dfee3c1681e10"}}
                    :extra-paths ["auto_web_cljc/test" "auto_web_clj/test"]}
  :cljs-deps {:extra-deps {com.github.hephaistox/auto-web-cljc {:local/root "auto_web_cljc"}
                           com.github.hephaistox/auto-web-cljs {:local/root "auto_web_cljs"}}
              :extra-paths ["auto_web_cljc/test" "auto_web_clj/test"]}
  :codox {:exec-args {:description "`auto-web` provide web feature to ease Hephaistox web apps"
                      :doc-paths ["docs/codox"]
                      :metadata {:doc/format :markdown}
                      :name "auto-web"
                      :source-uri
                      "https://github.com/hephaistox/auto-web/blob/{version}/{filepath}#L{line}"}
          :exec-fn codox.main/generate-docs
          :extra-deps {codox/codox {:mvn/version "0.10.8"}}}}
 :deps {com.github.hephaistox/auto-web-clj {:local/root "auto_web_clj"}
        com.github.hephaistox/auto-web-cljc {:local/root "auto_web_cljc"}}}
