{:builds
 {:browser-test {:ns-regexp "-test$"
                 :runner-ns shadow.test.browser
                 :target :browser-test
                 :test-dir "target/browser-test"}
  :devcards {:target :browser-test
             :ns-regexp "-cards$"
             :test-dir "target/devcards"
             :runner-ns auto-web.devcards ; must have init fn to run
             :devtools {:http-root "env/devcards/resources"
                        :index-page "cards.html"}
             :compiler-options {:devcards true
                                :output-feature-set :es8}
             :js-options {:resolve {"devcards-marked" {:require "marked"
                                                       :target :npm}
                                    "devcards-syntax-highlighter" {:require "highlight.js"
                                                                   :target :npm}}}}
  :ltest {:autorun true
          :ns-regexp "-test$"
          :output-to "target/ltest.js"
          :target :node-test}}
 :deps {:aliases [:cljs-deps]}
 :dev-http {3001 ["target/devcards" "resources/public" "env/devcards/resources"]
            9606 ["target/browser-test"]}
 :http {:port 9506}
 :nrepl {:port 7106}}
