{:builds {:cljs-browser-test {:ns-regexp "-test$"
                              :runner-ns shadow.test.browser
                              :target :browser-test
                              :test-dir "target/browser-test"}
          :cljs-node-test {:autorun true
                           :ns-regexp "-test$"
                           :output-to "target/cljs-node-test.js"
                           :target :node-test}
          :portfolio {:asset-path "/"
                      :modules {:main {:init-fn auto-web.portfolio/init}}
                      :output-dir "target/portfolio"
                      :target :browser}}
 :deps {:aliases [:cljs-deps]}
 :dev-http {3002 ["public"
                  "classpath:public"
                  "auto_web_cljs/env/portfolio/resources"
                  "target/portfolio"
                  "auto_web_clj/resources/public/"]
            9606 ["target/browser-test"]}
 :http {:port 9506}
 :nrepl {:port 7106}}
