{:deps {amalloy/ring-gzip-middleware {:mvn/version "0.1.4"}
        clj-http/clj-http {:mvn/version "3.13.1"}
        http-kit/http-kit {:mvn/version "2.8.1"}
        mount/mount {:mvn/version "0.1.23"}
        ring-cors/ring-cors {:mvn/version "0.1.13"}
        ring/ring {:mvn/version "1.15.3"}
        ring/ring-anti-forgery {:mvn/version "1.4.0"}
        ring/ring-headers {:mvn/version "0.4.0"}
        ring/ring-ssl {:mvn/version "0.4.0"}}
 :paths ["src" "resources"]}
