name: Tag - Deployment to clojars
# See https://github.com/jlesquembre/clojars-publish-action
# Whereever the tag is pushed. bb tasks decides where to put the tag and what check to make. Manual tagging could always work whatever the branch, clojars publishing should happen in anycase.
on:
  push:
    tags:
      - "*"

jobs:
  clojars:
    permissions:
       contents: read
    runs-on: ubuntu-latest

    steps:
      # This step checks out a copy of your repository.
      - uses: actions/checkout@v5

      - uses: jlesquembre/clojars-publish-action@89a4eb7bdbe1270621e6643250afce152701699e # v0.3
        env:
          CLOJARS_USERNAME: ${{ secrets.CLOJARS_USERNAME }}
          CLOJARS_PASSWORD: ${{ secrets.CLOJARS_PASSWORD }}
          # This repo should be authorized in organization https://github.com/organizations/hephaistox/settings/secrets/actions
